@using System.Web.Mvc.Html
@using EPiServer.Framework.Web.Resources
@using HansKindberg.EPiServer.Shell.Modules.Web.Mvc.Extensions
@inherits System.Web.Mvc.WebViewPage<HansKindberg.EPiServer.Shell.Modules.Web.Mvc.Models.LayoutViewModel>
<!DOCTYPE html>
<html lang="@Model.Layout.UiCulture.Name">
	<head>
		<title>@Model.Layout.Title</title>
		@Html.ClientResources(Model.Layout.GetClientResources("Dojo", new[] { ClientResourceType.Style }))
		@Html.ClientResources(Model.Layout.GetClientResources("ShellCore"))
		@Html.ClientResources(Model.Layout.GetClientResources("ShellCoreLightTheme"))
		@Html.ClientResources(Model.Layout.GetClientResources("Navigation"))
		<link href="@Model.GetResourcePath("CMS", "ClientResources/Epi/Base/CMS.css")" rel="stylesheet" />
		<link href="../../../App_Themes/Default/Styles/system.css" rel="stylesheet" />
		<link href="../../../App_Themes/Default/Styles/ToolButton.css" rel="stylesheet" />
	</head>
	<body id="body">
		<div class="epi-contentContainer epi-padding">
			<div class="epi-contentArea">
				@if(IsSectionDefined("Heading"))
				{
					@RenderSection("Heading")
				}
				else
				{
					@Html.Partial(Model.Layout.GetResourcePath("Views/Shared/Heading.cshtml"), Model.Layout)
				}
				<div id="FullRegion_ValidationSummary" class="EP-validationSummary" style="color: Black; display: none;">

				</div>
			</div>
			@RenderSection("MainContent", true)
		</div>
	</body>
</html>