@model HansKindberg.EPiServer.Modules.TestApplication.Models.ViewModels.ILayoutViewModel
<!DOCTYPE html>
<html lang="@Model.Layout.UiCulture.Name">
	<head>
		<title>@Html.DisplayFor(model => model.Layout.Title)</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="description" content="@Html.DisplayFor(model => model.Layout.MetaDescription)" />
		<meta name="keywords" content="@Html.DisplayFor(model => model.Layout.MetaKeywords)" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<!--
			<link href="~/Style_/bootstrap.css" rel="stylesheet" />
			<link href="~/Style_/custom.css" rel="stylesheet" />
			<link href="~/Style_/Plugins/Yamm/yamm.css" rel="stylesheet" />
			-->
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		@Html.Partial("~/Views/Shared/MainNavigation.cshtml", Model.Layout)
		<div class="container">
			<div class="row">
				@Html.Partial("~/Views/Shared/LeftNavigation.cshtml", Model.Layout)
				<div class="col-md-9">
					<div class="row">
						@if(IsSectionDefined("Heading"))
						{
							@RenderSection("Heading")
						}
						else
						{
							@Html.Partial("~/Views/Shared/Heading.cshtml", Model.Layout)
						}
					</div>
					@RenderSection("MainContent", true)
				</div>
			</div>
		</div>
	</body>
</html>